.achievements__legend {
  font-size: 14px;
  line-height: 18px;
  font-family: "opensans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #d22856;
}

.achievements__item {
  font-size: 14px;
  line-height: 18px;
  font-family: "opensans", sans-serif;
  font-weight: 300;
  color: #283645;
}

.achievements {
  background-color: #f2f2f2;
  border: none;
}

.achievements__list {
  list-style: none;
}
