.contest__hero {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 320px 462px;
  background-color: #283645;
  min-height: 172px;
}

.contest__title {
  font-size: 24px;
  font-family: 'opensans';
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
