.contacts {
  background-color: #ffffff;
}

.contacts__title {

  color: #283645;
  font-size: 24px;
  font-weight: 300;
}

.contacts__decription {
  color: #283645;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.contacts__tel {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-decoration: none;
}
.contacts__mail-to {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-decoration: none;
}

.contacts__adress-text {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}
