.download__link {
  font-family: "opensans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.download__title {
  font-family: "opensans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.download__list {
  display: flex;
}
