.offer__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}
.offer {
  background-image:
  url(../img/iphone-hand-mobile@1x.png),
  url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size:
  314px auto,
  320px auto;
  min-height: 462px;

}
