.users-photo__wrapper {
  background-color: #f2f2f2;
}

.users-photo__like-wrapper {
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.users-photo__nickname {
  font-weight: 700;
}

.users-photo__publication-time {
  font-weight: 300;
}

.users-photo__panorama-description {
  color: #f2f2f2;
  background-color: #d22856;
}
