.user-os {
  background-color: #f2f2f2;
  border: none;
}
.user-os__legend {
  font-family: 'opensans';
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #d22856;
}

.user-os__label {
  font-family: 'opensans';
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  color: #283645;
}

.user-os__list {
  list-style: none;
}
