.user-contact {
  background-color: #ffffff;
  border: none;
}

.user-contact__list {
  list-style: none;
}

.user-contact__label {
  font-size: 14px;
  line-height: 30px;
  font-family: 'opensans';
  font-weight: 300;
  text-transform: uppercase;
  color: #d22856;
}

.user-contact__label input {
  font-size: 18px;
  line-height: 30px;
  font-family: 'opensans';
  font-weight: 300;
  color: #283645;
  border: 2px solid #e5e5e5;

  margin-bottom: 25px;
}
